<h1>New addition</h1>

<form action="/wizard_addition">
  <label for="num1">Add this:</label>
  <input type="text" id="num1" name="first_num">

  <label for="num2">to this:</label>
  <input type="text" id="num2" name="second_num">

  <button>Add!</button>
</form>
